/* Universal Styles */
body {
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
}

/* All other styles */

/* Header */

header {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

}

#brand img {
  height: 50px;
  margin-left: 10px;
}

/* Nav Items */


.nav-items {
  padding: 2px 10px;
}

.nav-items a {
  text-decoration: underline;
  color: seashell;
}

.nav-items a:visited {
  text-decoration: underline;
  color: seashell;
}

.nav-items a:hover {
  text-decoration: none;
  color: seashell;
}

.nav-items a:active {
  text-decoration: underline;
}


/* Main Content */

main {
  display: flex;
  padding-top: 69px;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Mission */

#mission {
display: flex;
width: 1200px;
min-height: 700px;
background-image: url('img-mission-background.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
justify-content: center;
align-content: center;
align-items: center;
}

#mission .content {
  width: 100%;
  background-color: black;
  overflow: hidden;
}

#mission .content h2 {
  margin-top: 10px;
}

#mission .content h4 {
  margin-bottom: 10px;
}


/* Store */

#store {
  display: flex;
  width: 1000px;
  overflow: hidden;
 justify-content: center;
  margin: 50px 0;

}

#store-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
  justify-content: center;
}

.thumb-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail-container span {
  font-weight: bold;
  text-align: center;
}

.item img {
  height: 200px;
  padding: 10px;
}

.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}



/* Locations */

#locations {
  display: flex;
  width: 1200px;
  min-height: 500px;
  justify-content: center;
  background-image: url('img-locations-background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

#locations h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

#card-container {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#card-container .card {
  width: 300px;
  margin: 15px 40px;
  background-color: black;
  opacity: 1;
  overflow: hidden;
}


/*Contact */

#contact {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
}

footer {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
}


